<h1>Créditos</h1>

<h3>Autor intelectual:</h3>Juan Quemada Vives
<img alt="Juan Quemada Vives" src="/images/JQV.jpg" width="65" />
<h3>Colaborador innecesario:</h3>José Tomás Benjumea Reyes
<img alt="Jose Tomas Benjumea Reyes" src="/images/JTB.png" width="65" />

