<h1>Créditos</h1>

<p>
	<table style="width: 50%; text-align: left; margin-left: 25%;">
		<tr>
			<td><h3>Autor intelectual:</h3>Juan Quemada Vives</td>
			<td><img alt="Juan Quemada Vives" src="/images/JQV.jpg" width="65" /></td>
		</tr>
		<tr>
			<td><h3>Colaborador innecesario:</h3>José Tomás Benjumea Reyes</td>
			<td><img alt="Jose Tomas Benjumea Reyes" src="/images/JTB.png" width="65" /></td>
		</tr>	
	</table>	
</p>
